[core]
#    autocrlf = true
    eol = lf
    filemode = false
[credential]
    helper = cache --timeout=846000
[user]
    name = Martin Mrose
[push]
    default = tracking

# include data not shared in my dotfiles
[include]
    path = ~/.gitconfig.local